@import "tailwindcss";

@theme {
  --color-sura-blue: #0033a0;
  --color-sura-cyan: #00a4e4;
  --color-sura-light: #e5f6fd;
  --color-background: #f8fafc;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #333333;
    font-family: 'Inter', sans-serif;
  }
}
